@using System.Threading
@using System.Web.Optimization
@using Dorna

@{
    var companyTitle = ((DeploymentConfiguration) DependencyResolver.Current.GetService(typeof (DeploymentConfiguration))).CompanyTitle;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10"><!--Added for banco embeding - wpfbrowser compatibility-->
    <link rel="icon" type="image/icon" href="~/Assets/Dorna/img/favicon.ico?v=0">
    <meta charset="utf-8" />
    <title>@companyTitle</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @Styles.Render("~/Bundle/Styles")

    @{
        var direction = Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
    }
</head>
<body class="@direction navbar-fixed">

    <div class="tidm-main-container">
        @RenderBody()
    </div>

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    @Scripts.Render("~/Bundle/Scripts")
    @Scripts.Render("~/Home/LocalizationMetadata")
    @Scripts.Render("~/Home/ApplicationSettingsMetadata")

    @RenderSection("Scripts", false)
    
<iframe src="" name="pbiFrame" id="pbiFrame" style="width:0;height:0;border:0; border:none;"></iframe>
</body>
</html>
